repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Check https://github.com/astral-sh/ruff-pre-commit/releases for the latest version
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
