name: Build Container Image

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Build container image with podman
        run: |
          podman build \
              -f Containerfile \
              -t flatpak-indexer:latest \
              --build-arg=FLATPAK_INDEXER_UPDATE_TEST_DATA=1 \
              .
